body {
    font-family: "Tenor Sans", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0.625rem;
    border: .0625rem solid gray;
    position: fixed;
    transition: top 0.3s; 
    z-index: 1000;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 1.25rem;
}

nav ul.nav-left li a,
nav ul.nav-right li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: .625rem .9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul.nav-right li a img {
    width: 1.5625rem;
    height: 1.5625rem;
    object-fit: cover;
}

main {
    padding: 0rem;
}
.pages1:hover{
    color: gray;
    text-decoration-line: underline;
} 
.pages2:hover{
    color: gray;
    text-decoration-line: underline;
} 
.pages3:hover{
    color: gray;
    text-decoration-line: underline;
} 
.pages4:hover{
    color: gray;
    text-decoration-line: underline;
} 
.pages5:hover{
    color: gray;
    text-decoration-line: underline;
} 

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: .625rem;
    position: static;
    bottom: 0;
    width: 98.8vw;
}

ul.nav-left {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .9375rem;
}

ul.nav-right img {
    width: 2.5rem;
    height: 2.5rem;
}

.logo img {
    width: 5.625rem;
    height: 3.1837rem;
    object-fit: cover;
}

#fundo{
    width: 100vw;
    padding: 0;
    object-fit: cover;
    /* position: fixed; */
}

.produtos--geral{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 15pc 0rem 1.25rem;
}

#produto1 #produto2{
   justify-content: space-between;
    padding: .625rem; 
}

video{
    width: 12.5rem;
}
#search-bar {
    width: 100%;
    padding: .3125rem;
    border: .0625rem solid #ccc;
    border-radius: .25rem;
    box-sizing: border-box;
}

#search-results li {
    padding: .625rem;
    cursor: pointer;
    border-bottom: .0625rem solid #ccc;
    
}

#search-results li:hover {
    background-color: #f0f0f0;
}
.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .carousel-item img {
    width: 100%;
    display: block;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  } 

  